.debug-line-highlight {
    background-color: rgba(59, 130, 246, 0.2);
    border-left: 3px solid #3b82f6;
    display: block;
}

.debug-line-glyph {
    background-color: #3b82f6;
    border-radius: 50%;
    width: 8px !important;
    height: 8px !important;
    margin-left: 4px;
    margin-top: 4px;
}